.Name {
  text-align: center;
  font-size: medium;
  color: brown;
  background-color: burlywood;
}

.table-1 {

  border: 1px solid brown;
  border-collapse: collapse;
  padding: 15px;
  
}

.table-2, th, td {
  border: 1px solid brown;
  border-collapse: collapse;
  padding: 15px;
}
